<%- include('partials/_header') %>
  <!-- Archivos -->    
  <link rel="stylesheet" href="../public/css/general.css">
  <title>Editar Programa</title>
</head>
<body>
  
  <!--NAVBAR-->
  
  <%- layout('layouts/main') %>
  
  
  
  
<%- include('partials/_footer') %>