

  <!--archivos para uso de boostrap ofline-->
   <script src="/chart.min.js"></script>
   <script src="/chart.js"></script>

  <script src="/bootstrap5/js/bootstrap.min.js" ></script>
  <script src="/bootstrap5/js/jquery.min.js" ></script>
  <script src="/bootstrap5/js/popper.min.js" ></script>

  <script src="/tablefilter_files/tablefilter.js"></script>
  <script src="/tablefilter_files/react.production.min.js"></script>
  <script src="/tablefilter_files/react-dom.production.min.js"></script>
  
  <!--scrips de boostrap con uso de interner (descomentar en caso dde ser necesario)-->
  <!-- <script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js referrerpolicy="no-referrer"></script> -->
  <!-- <script src=https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script> -->
  <!-- <script src=https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script> -->

  </body>
</html>